<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
        <img id="ProfilePicture" src="../../../assets/ProfilePicture.jpg" alt="Foto Perfil" class="img-fluid">
    </div>


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
        <p id="Name">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="Title">Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p id="AbaoutMeText">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Minus reprehenderit molestiae rem repellat, optio assumenda. 
                Dolorem, qui amet architecto laborum perspiciatis tempora ipsam ipsa sunt neque deleniti animi perferendis labore!
            </p>
        </span>
    </div>
</div>