<div class="row">
    <div class="container">
        <div class="logo">
            <img id="LogoArg" src="../../../assets/LogoArgPro.png" alt="Argentina Programa">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/LogoFacebook.png" alt="Facebook" /></a>
                <a href=""><img src="../../../assets/LogoInstagram.png" alt="Instagram" /></a>
                <a href=""><img src="../../../assets/LogoTwitter.png" alt="Twitter" /></a>
                <a href=""><img src="../../../assets/LogoLinkedin.png" alt="Linkedin" /></a>
                <a href=""><img src="../../../assets/LogoGitHub.png" alt="GitHub" /></a>
                <button type="button" class="btn btn-outline-light" (click)="login()">Ingresar</button>
            </div>
        </div>
    </div>
</div>