.row{
    padding: 20px;
    margin: 0%;
}

div{
    background-color: #70a5ad;
}

h1 {
    font-family: Impact;
}

h2, h3 {
    display: inline;
    font-family: verdana;
}

p {
    margin: 15px;
    font-family: verdana;
}