<div class="row">
    <h1 id="Exp">Experiencia Laboral</h1>
    <!--<div class="col-lg-1"></div>-->
    <div class="col-lg-12">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>Años X</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Iure rem ipsa quis illo sapiente enim minima, vel ipsam eius autem architecto delectus consequatur? 
                Aliquid tenetur hic animi ipsum quaerat assumenda.
            </p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>Años X</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Iure rem ipsa quis illo sapiente enim minima, vel ipsam eius autem architecto delectus consequatur? 
                Aliquid tenetur hic animi ipsum quaerat assumenda.
            </p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>Años X</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Iure rem ipsa quis illo sapiente enim minima, vel ipsam eius autem architecto delectus consequatur? 
                Aliquid tenetur hic animi ipsum quaerat assumenda.
            </p>
        </ul>
    </div>
</div>